# Python virtual environment
.venv/
venv/
ENV/

# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Mac specific files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store